<!-- Jumbotron -->

<head>
  <title>Home</title>
  <style rel="stylesheet" type="text/css">
    @import url("https://codepen.io/tharcisioamorim/pen/abbEjdZ.css");
  </style>
</head>
<style>
  #myProgress {
    width: 100%;
    background-color: #ddd;
  }

  #myBar {
    width: 1%;
    height: 30px;
    background-color: #4CAF50;
  }
</style>

<body onload="meh()" id = "busca">
  <div class="box">
    <p id="myBar"> </p>
    <div class="image">
    </div>
  </div>
  <div id="box8">
    <form action="/users/dashboard" method="POST">

      <label for="msg">Tweet:</label>
      <textarea type="content" id="usuario" name="content" class="form-control" id="msg"></textarea>
      <div class="button21">
        <button onclick = "progress()" type="submit">Enviar sua mensagem</button>

      </div>
      <p id="user_username"></p>


    </form>
 




    <br />




    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    </script>
    <form action="" method="GET">
      <div class="button21">
        <div id="meme" class="button21"> </div>
      </div>
    </form>


    <script>

    </script>

</body>







</div>
</form>



</div>
<div class="box2">
  <div id="box4">
    <div id="box7">
      <div class="image2"> </div>

    </div>
    <div class="font5">Bem vindo, <h1> {{usuario}}</h1>
    </div>
  </div>
  <div id="meme2" class="button21"> </div>
</div>
<script> function meh() {
    var xmlhttp = new XMLHttpRequest();
    xmlhttp.onreadystatechange = function () {
      if (xmlhttp.readyState === 4 && xmlhttp.status === 200) {
        document.getElementById("meme2").innerHTML = xmlhttp.responseText;
      }
    };
    xmlhttp.open("GET", "showed", true);
    xmlhttp.send();
    JSONRequest.get("https://json.penzance.org/request")
  }
</script>


<script> function meh2() {
    var xmlhttp = new XMLHttpRequest();
    xmlhttp.onreadystatechange = function () {
      if (xmlhttp.readyState === 4 && xmlhttp.status === 200) {
        document.getElementById("meme2").innerHTML = xmlhttp.responseText;
      }
    };
    xmlhttp.open("GET", "search", true);
    xmlhttp.send();
  }
</script>

<script> function meh2() {
    var xmlhttp = new XMLHttpRequest();
    xmlhttp.onreadystatechange = function () {
      if (xmlhttp.readyState === 4 && xmlhttp.status === 200) {
        document.getElementById("meme2").innerHTML = xmlhttp.responseText;
      }
    };
    xmlhttp.open("POST", "dashboard", true);
    xmlhttp.send();
  }
</script>

<script> function progress() {
    var i = 0;
    if (i == 0) {
      i = 1;
      var elem = document.getElementById("myBar");
      var width = 1;
      var id = setInterval(frame, 2);
      function frame() {
        if (width >= 100) {
          clearInterval(id);
          i = 0;
        } else {
          width++;
          elem.style.width = width + "%";
        }
      }
    }
  }
</script>
<script type="text/javascript">
  function doSomething() {
    $('#busca').load();
  }
  setInterval('doSomething()', 2000);
</script>







</div>
</div>
<div id="box3" <div class="rodape-box">
  <ul class="lista">
    <li class="rodape">
      <a href="#">Sobre</a>
    </li>
    <li class="rodape">
      <a href="#">Central de Ajuda</a>
    </li>
    <li class="rodape">
      <a href="#">Blog</a>
    </li>
    <li class="rodape">
      <a href="#">Status</a>
    </li>
    <li class="rodape">
      <a href="#">Empregos</a>
    </li>
    <li class="rodape">
      <a href="#">Termos</a>
    </li>
    <li class="rodape">
      <a href="#">Política de Privacidade</a>
    </li>
    <li class="rodape">
      <a href="#">Cookies</a>
    </li>
    <li class="rodape">
      <a href="#">Informações de anúncios</a>
    </li>
    <li class="rodape">
      <a href="#">Termos</a>
    </li>
    <li class="rodape">
      <a href="#">Marcas</a>
    </li>
    <li class="rodape">
      <a href="#">Aplicativos</a>
    </li>
    <li class="rodape">
      <a href="#">Anunciante</a>
    </li>
    <li class="rodape">
      <a href="#">Marketing</a>
    </li>
    <li class="rodape">
      <a href="#">Empresas</a>
    </li>
    <li class="rodape">
      <a href="#">Programadores</a>
    </li>
    <li class="rodape">
      <a href="#">Diretório</a>
    </li>
    <li class="rodape">
      <a href="#">Configurações</a>
    </li>
    <li class="rodape">
      <a href="#">© 2019 Twitter</a>
    </li>

  </ul>
</div>
</div>


</body>