<!-- Jumbotron -->
<head>
  <title>Home</title>
    <style rel="stylesheet" type="text/css" >
    @import url("https://codepen.io/tharcisioamorim/pen/abbEjdZ.css"); </style>
</head>

<body>
  <div class="box">
    <div class="image">
    </div>
  </div>
  <div id="box8">
  <div class="font1">Você está a apenas um passo do novo Twitter.com
  </div>
  <div class="font2">Adicionamos muitas funções legais, incluindo…
  </div>
  <div class="font3">Explore <div class="image3"> </div> </div>
  <div class="font4">Veja as notícias e os Tweets e vídeos mais recentes em um único lugar.</div>
  <div class="font3">Itens salvos <div class="image4"> </div> </div>
  <div class="font4">Salve um Tweet interessante para mais tarde.</div>
  <div class="font3">Personalize <div class="image5"> </div> </div>
  <div class="font4">Novos temas e mais opções de modo escuro para você escolher.</div>
  
  </div>
  <div class="box2">
    <div id="box4">
      <div id="box7">
      <div class="image2"> </div>
      <button class="button3"><font face=helvetica >Entrar</font></button>

      </div>
      <div id="box6" <div class="font5">Veja o que está acontecendo no mundo agora</div></div>
      <div id="box5"><div class="font6">Participe hoje do Twitter. </div></div>
      <button class="button"> <a href="/users/register" <font face=helvetica size="3">Inscreva-se</font></a></button>
      <button class="button2"><a href="/users/login" <font face=helvetica size="3">Entrar</font></a></button>

  </div>
  </div>
  <div id="box3"
  <div class="rodape-box">
   <ul class="lista">
     <li class="rodape">
      <a href="#">Sobre</a>
     </li>
     <li class="rodape">
      <a href="#">Central de Ajuda</a>
     </li>
     <li class="rodape">
      <a href="#">Blog</a>
     </li>
     <li class="rodape">
      <a href="#">Status</a>
     </li>
     <li class="rodape">
      <a href="#">Empregos</a>
     </li>
     <li class="rodape">
      <a href="#">Termos</a>
     </li>
     <li class="rodape">
      <a href="#">Política de Privacidade</a>
     </li>
     <li class="rodape">
      <a href="#">Cookies</a>
     </li>
     <li class="rodape">
      <a href="#">Informações de anúncios</a>
     </li>
     <li class="rodape">
      <a href="#">Termos</a>
     </li>
     <li class="rodape">
      <a href="#">Marcas</a>
     </li>
     <li class="rodape">
      <a href="#">Aplicativos</a>
     </li>
     <li class="rodape">
      <a href="#">Anunciante</a>
     </li>
     <li class="rodape">
      <a href="#">Marketing</a>
     </li>
     <li class="rodape">
      <a href="#">Empresas</a>
     </li>
     <li class="rodape">
      <a href="#">Programadores</a>
     </li>
     <li class="rodape">
      <a href="#">Diretório</a>
     </li>
     <li class="rodape">
      <a href="#">Configurações</a>
     </li>
     <li class="rodape">
      <a href="#">© 2019 Twitter</a>
     </li>

   </ul>
  </div>
  </div>


</body>