<!-- Jumbotron -->
<head>
  <title>Home</title>
    <style rel="stylesheet" type="text/css" >
    @import url("https://codepen.io/tharcisioamorim/pen/abbEjdZ.css"); </style>
</head>

<body>
  <div class="box">
    <div class="image">
    </div>
  </div>
  <div id="box8">
 
<form action="/users/dashboard" method="POST">
        
        <label for="msg">Tweet:</label>
        <textarea type="content" id="usuario" name="content" class="form-control"id="msg"></textarea>
        <div class="button21">
        <button type="submit">Enviar sua mensagem</button>
        <input type="file" id="myFile">
    </div>
    <p id="user_username"></p>
</form>


<form action="/users/show" method="POST">
        <div class="button21">
        <button type="submit">Buscar tweet</button>
    </div>
     <div id="box6" <div class="font5"> <h1>{{tweet}}</h1></div></div>
</form>





  </div>
  <div class="box2">
    <div id="box4">
      <div id="box7">
      <div class="image2"> </div>

      </div>
     
      
      
  </div>
  </div>
  <div id="box3"
  <div class="rodape-box">
   <ul class="lista">
     <li class="rodape">
      <a href="#">Sobre</a>
     </li>
     <li class="rodape">
      <a href="#">Central de Ajuda</a>
     </li>
     <li class="rodape">
      <a href="#">Blog</a>
     </li>
     <li class="rodape">
      <a href="#">Status</a>
     </li>
     <li class="rodape">
      <a href="#">Empregos</a>
     </li>
     <li class="rodape">
      <a href="#">Termos</a>
     </li>
     <li class="rodape">
      <a href="#">Política de Privacidade</a>
     </li>
     <li class="rodape">
      <a href="#">Cookies</a>
     </li>
     <li class="rodape">
      <a href="#">Informações de anúncios</a>
     </li>
     <li class="rodape">
      <a href="#">Termos</a>
     </li>
     <li class="rodape">
      <a href="#">Marcas</a>
     </li>
     <li class="rodape">
      <a href="#">Aplicativos</a>
     </li>
     <li class="rodape">
      <a href="#">Anunciante</a>
     </li>
     <li class="rodape">
      <a href="#">Marketing</a>
     </li>
     <li class="rodape">
      <a href="#">Empresas</a>
     </li>
     <li class="rodape">
      <a href="#">Programadores</a>
     </li>
     <li class="rodape">
      <a href="#">Diretório</a>
     </li>
     <li class="rodape">
      <a href="#">Configurações</a>
     </li>
     <li class="rodape">
      <a href="#">© 2019 Twitter</a>
     </li>

   </ul>
  </div>
  </div>


</body>